body {
    font-family: Arial, sans-serif;
    background-color: #127BA3;
    display: flex;
    justify-content: center;
    overflow: auto;
    
}

.login-container {
    background-color: #90CAF9;
    margin-top: 140px;
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-title {
    font-size: 40px;
    color: #000;
    margin-top: 40px;
    margin-bottom: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input {
    position: relative; 
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 75%; 
}

.input img {
    position: absolute; 
    left: 10px; 
    width: 20px;
    height: 20px;
    pointer-events: none; 
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px 10px 8px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
    


.login-container .checkbox-submit-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20%;
    gap: 24%;
}


.login-container input[type="checkbox"] {
    display: none;
}

.login-container .custom-checkbox {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    width: 110%;
    color: #333;
    padding-left: 25px; 
    margin-top: 10px;
    
}

.login-container .custom-checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px; 
    height: 25px; 
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 5px; 
    transition: all 0.3s ease; 
}

.login-container input[type="checkbox"]:checked + .custom-checkbox:before {
    content: "✔";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    background-color: #4FC4F3;
}

.login-container input[type="checkbox"]:not(:checked) + .custom-checkbox:before {
    background-color: #fff; 
    border-color: #4FC4F3; 
}

.login-container .custom-checkbox span {
    font-size: 16px;
    color: #333;
    margin-left: 10px; 
}

.login-container .submit-container button{
    margin-right: 30px;
    background-color: #4FC4F3;
    color: #fff;
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.login-container .submit-container:hover button {
    background-color: #228FCB;
}
